<%= render "shared/header" %>

<%= link_to "Done!", flag_path(@flag), class: "btn btn-primary btn-cust" %>

<h3>Add tracks</h3>
<div class="col-md-12">
  <% @tracks.each do |track| %>
    <%= render :partial => "shared/track", locals: {track: track, adding:true, entry: false} %>
  <% end %>
  <%= will_paginate @tracks, :page_links => false, class: "pagination" %>
</div>
