<div>
  <h5>Search for tracks to add</h5>
  <form>
    <input type="text" name="q" placeholder="Search by track name, artist, or album,">
    <input type="submit" class="search-tracks-btn" value="Search" ajax-path=<%=api_tracks_path%>>
  </form>
  <div id="results"></div>
</div>
