<div class="display">
  <%= render "shared/header" %>
  <h3 class="headline">Curate crowdsourced playlists around a geolocation</h3>
  <%= link_to "Follow the noise", new_user_registration_path, class: "btn btn-primary btn-cust" %>
</div>
